.attendance-container {
    padding: 20px;
    background: #fff;
    margin: 100px auto 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .attendance-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attendance-table th,
  .attendance-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .attendance-table th {
    background-color: #f4f4f4;
  }

  .backButton{
    position: relative;
    top: 100px;
    background-color: green;
    color: white;
    padding: 10px;
    left: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
  }

  select {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: auto;
    text-align: center;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .day-box {
    position: relative;
    padding: 10px 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .day-box.red {
    color: red;
  }
  
  .day-box.green {
    color: green;
  } */

  .day-box.red {
    background-color: red;
  }
  
  .day-box.green {
    background-color: green;
    color: white;
  }
  
  .day-number {
    position: absolute;
    top: 5px;
    font-size: 0.9em;
    right: 10px;
  }
  
  .day-label {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .attendance-summary {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  